@import 'main.scss';

label {
    // color: $secondary-color;
    font-weight: 600;
    letter-spacing: 0.1em;
}

input[type="text"] {
    color: $day-color;
    background-color: $bg-color-2;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    padding: 2px 10px;
    &:focus {
        box-shadow: 0 0 3px $main-color;
    }
}