@import 'main.scss';

.daily-forecast {
    @include flex-col;
    min-width: 240px;
    padding: 15px 0;
    margin: 5px;
    border: 1px solid $main-color;
    border-radius: 5px;

    .week-day {
        padding: 5px 15px;
        border: 1px solid $main-color;
        border-radius: 7px;
    }

    img {
        width: 30%;
    }

    .general {
        font-weight: 600;

        .day {
            color: $day-color;
        }

        .night {
            color: $night-color;
        }
    }
}