@import 'main.scss';

.App {
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: $main-color;

    .today {
        width: 75vw;
        margin: 0 auto; 
        border: 1px solid $main-color;
        border-radius: 5px;
    }

    .forecast {
        display: flex;
        justify-content: space-around;
        background-color: $bg-color;
        padding: 30px 10vw;
    }
}