@import 'main.scss';

.App {
    @include flex-col;
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: $main-color;

    form {
        background: $bg-color;
        border-radius: 5px;
        margin-top: 20px;
        padding: 20px;
        font-size: 20px;
        input[type="submit"] {
            color: $day-color;
            background: $bg-color-2;
            margin-left: 20px;
            cursor: pointer;
            padding: 2px 10px;
            border-radius: 5px;
            border: none;
            &:active {
                box-shadow: 0 0 3px $main-color;
            }
        }
    }

    .today {
        width: 75vw;
        background-color: $bg-color;
        border: 1px solid $main-color;
        border-radius: 5px;
    }

    .forecast {
        display: flex;
        justify-content: space-between;
        background-color: $bg-color;
        width: 100vw;
        padding: 30px 10vw;
    }
}